//? FILE CONDIVISIO:
//? create.blade.php, edit.blade.php:

.create,
.edit {

    background-color: $jolly;
    border-radius: 20px;
    @extend %shadow;
    padding: 60px 50px;

    .create__form,
    .edit__form {
        .head{
            display: flex;
            justify-content: end;

            a.show {
                width: 200px;
                text-align: center;
                display: inline-block;
                padding: 10px 30px;
                border-radius: 15px;
                background-color: $text-h_2;
                color: $jolly;
                margin-bottom: 25px;
                @extend %shadow;
                &:hover {opacity: .9;}
            }
        }

        h2{
            font-size: 35px;
            font-weight: 600;
            color: $text-h;
        }
        hr {
            width: 100%;
            border: none;
            height: 3px;
            background-color: $footer;
            margin-top: 30px;
            margin-bottom: 40px;
        }
        label {
            color: $text-h;
            font-weight: 600;
        }
        input,
        textarea {
            border: 1px solid $text-h;
            &:focus {
                outline: none;
                box-shadow: none;
                border: 3.5px solid rgba($color: $text-h, $alpha: .5);
            }
        }
        input.submit {
            margin-top: 20px;
            padding: 10px 30px;
            border-radius: 15px;
            background-color: $text-h;
            color: $jolly;
            @extend %shadow;
            &:hover {opacity: .9;}
        }

        .group {
            display: flex;
            align-items: center;

            .group__text {
                line-height: 34px;
                height: 34px;
                padding: 0 8px;
                border: 1px solid $text-h;
                border-right: none;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

            }
            .group__input {
                height: 34px;
                padding: 0 8px;
                border: 1px solid $text-h;
                // border-left: none;
                // border-top-left-radius: 0;
                // border-bottom-left-radius: 0;
                flex-grow: 1;
                
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border: 3.5px solid rgba($color: $text-h, $alpha: .5);

                }
                
            }
            
        }
    }
}
