/* --------------------------------
            HEADER
-------------------------------- */


header {
    height: 100px;
    background-color: $header;
    @extend %shadow;
    .container {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 100%;

            img{
               width: 28%;
               height: auto; 
               filter: brightness(.8) saturate(.5);
            }
        }
        nav {
            
            li {
                margin-right: 15px;
                text-decoration: none;
                display: inline-block;
                &:hover {transform: scale(1.2); font-weight: 600;}
                a {
                    color: $text-h_2;
                    font-size: 25px;
                    transition:  .2s ;
                }
            }
        }
    }

}
