
.show {
    width: 100%;
    .cards {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        border-radius: 20px;
        @extend %shadow;
        overflow: hidden;
        background-color: $jolly;
        
        .image {
            align-content: start;
            width: 42%;
            padding: 0px;
        

            img {
                width: 90%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
        .info {
            width: 58%;
            padding: 35px 45px 45px 15px;
            overflow: scroll;

            .head{
                display: flex;
                justify-content: end;
    
                a.show {
                    width: 180px;
                    text-align: center;
                    display: inline-block;
                    padding: 10px 30px;
                    border-radius: 15px;
                    background-color: $text-h_2;
                    color: $jolly;
                    margin-bottom: 25px;
                    @extend %shadow;
                    &:hover {opacity: .9;}
                }
            }

            h3 {
                margin-bottom: 20px;
                font-size: 30px;
                color: $text-h;
                font-weight: 900;
            }
            hr{
                width: 100%;
                border: none;
                height: 3px;
                background-color: $footer;
                margin-bottom: 35px;
            }
            
            span {
                color: $text-h;
                font-weight: 600;
            }

            a.edit {
                margin-top: 25px;
                display: inline-block;
                padding: 10px 40px;
                border-radius: 15px;
                background-color: $text-h;
                color: $jolly;
                @extend %shadow;
                &:hover {opacity: .9;}

                &.edit {
                    background-color: $header;
                    color: $text-h_2;

                    &:hover {
                        filter: saturate(1.5);
                    }
                }
            }

            .holding {display: none;}
            .delete__modale{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $jolly;
                width: 500px;
                border-radius: 15px;
                padding: 35px;
                text-align: center;
                z-index: 200;
                @extend %shadow;

                span {
                    position: absolute;
                    right: 35px;
                    top: 35px;
                    font-size: 24px;
                    font-weight: 900;
                    color: $text-h_2;
                    cursor: pointer;
                }
                h4 {
                    font-size: 20px;
                    font-weight: 600;
                    color: $text-h;
                    margin-top: 60px;
                }
                form {text-align: center;}
                input.delete {
                    display: inline-block;
                    margin-top: 25px;
                    border: none;
                    padding: 10px 40px;
                    border-radius: 15px;
                    background-color: $text-h;
                    color: $jolly;
                    @extend %shadow;
                    &:hover {opacity: .9;}

                    &.edit {
                        background-color: $header;
                        color: $text-h_2;

                        &:hover {
                            filter: saturate(1.5);
                        }
                    }
                }

            }


            a.destroy {
                margin-left: 20px;
                display: inline-block;
                margin-top: 25px;
                border: none;
                padding: 10px 40px;
                border-radius: 15px;
                background-color: $text-h;
                color: $jolly;
                @extend %shadow;
                &:hover {opacity: .9;}

                &.edit {
                    background-color: $header;
                    color: $text-h_2;

                    &:hover {
                        filter: saturate(1.5);
                    }
                }
            }

            .menage {
                
                display: flex;
                
            }

        }
    }
}